body{
    overflow-x: hidden;
    background-color: whitesmoke;
}
.wrap {
    width: 100%;
    height: 100vh;
}
.menubar {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-color: rgb(238, 244, 248);
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menubar > ul > li {
    margin-left: 15px;
    display: inline-block;
}
.menubar > ul > li > a {
    color: black;
    font-weight: bolder;
}
.menubar > ul > li > a:hover{
    color:#114C59;
}
/* menubar */
.mainimg {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
}
.maincover{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.mainimg>img{
    position: absolute;
    z-index: -1;
    animation: updown infinite 20s alternate;
}
@keyframes updown {
    0%{
        top: -55%;
    }
    100%{
        top:0
    }}
/* mainimg */
.slider{
    text-align: center;
}
.slider> h1{
    font-size: 3em;
    height: 90px;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1.5px -1px 0 #000, -1.5px 1px 0 #000;
}
.slide{
    width: 100vw;
    height: 50vh;
    position: relative;
}
.slide img{
    width: 100%;
    height: 100%;
}
.slide>img:hover body{
    background-color: #000;
}
.slide>ul li{
    display: inline-block;

}
.imgslide{
    width: 100vw;
    height: 400px;
    overflow:hidden
}
.cover{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: 1s;
    color: #fff;
}
.cover > h2{
    position: absolute;
    top: -50px;
    left: 75px;
    transition: 1s;
}
.momentunm{
    margin-left: 45px;
}
.Interactive{
    margin-left: -25px;
}
.grid_text{
    margin-left: 15px;
}
.cafe_text{
    margin-left: 35px;
}
.cover > p{
    position: absolute;
    left: 8%;
    bottom: -50px;
    transition: 1s;
}
.rtg {
    width: 320px;
    height: 280px;
    border: 1px black solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.rtg:hover .cover{
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 1;
    z-index: 1;
}
.rtg:hover .cover>h2{
    top:90px
}
.rtg:hover .cover>p{
    bottom: 110px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 10px;
    width: 320px;
    height: 40px;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(37, 49, 61);
    transition: 0.2s;
}
.btn:hover{
    opacity: 0.9;
}

.space {
    width: 150px;
}
.space2 {
    width: 70px;
}
/* slider */
.level {
    width: 100%;
    height: 55vh;
    background-color:#5E81A6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.levelwrap {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.levelwrap > h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.levelwrap > p {
    font-weight: bold;
}
.levelwrap p > span:first-child {
    float: left;
}
.levelwrap p > span:last-child {
    float: right;
}
.bar {
    background-color: #fff;
    border: 1px solid black;
    box-shadow: black 5px 3px 3px;
    margin-bottom: 15px;
}
.fill {
    height: 20px;
    background: linear-gradient(to right, #77A3D1, #91C6FF);
    padding: 2px;
    animation: level 3s;
    animation-fill-mode: both;
}
.HTML5 > .fill {
    width: 85%;
}

.CSS > .fill {
    width: 75%;
    animation-delay: 0.2s;
}
.JavaScript > .fill {
    width: 65%;
    animation-delay: 0.1s;
}
.PHP > .fill {
    width: 60%;
    animation-delay: 0.1s;
}
.Photoshop > .fill {
    width: 80%;
    animation-delay: 0.3s;
}
.Illustrator > .fill {
    width: 70%;
    animation-delay: 0.2s;
}
@keyframes level {
    0% {
        width: 0%;
    }
}
/* level */

.email {
    width: 100%;
    height: 600px;
    
}
.email > h1{
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.email > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.email > form > input {
    width: 32%;
    height: 40px;
}
.email > form > input:nth-of-type(3) {
    width: 65%;
}
.email > form > textarea {
    width: 65%;
    height: 200px;
    resize: none;
}
.email > form > p {
    width: 65%;
}
.email > form > .space {
    width: 1%;
}
.email > form > p > .send {
    width: 80px;
    height: 40px;
    font-size: 1.5em;
}
/* email */
.modal {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
}
.close {
    color: #000;
    font-size: 3.5em;
    position: absolute;
    right: 4%;
    cursor: pointer;
    /* animation: ani linear alternate infinite 5s; */
}
.close:hover {
    animation: ani linear alternate infinite 0.5s;
}
.modal_content {
    display: block;
    position: relative;
    width: 100%;
    height: 180%;
    max-width: 600px;
    min-height: 1620px;
    max-height: 1650px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    animation: zoom 0.5s;
    background-color: #f2f2f2;
    padding: 0 2%;
}
.modalspace {
    width: 100%;
    height: 55px;
}
.on {
    display: block;
}
.hidescroll {
    overflow-y: hidden;
}
.modal_content > hr {
    width: 100%;
    height: 2px;
    background-color: #000;
}
.modal_content > h2 {
    padding-left: 15px;
}
.modal_content > p {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 50px;
}
.modal_content > img {
    width: 100%;
}
.link {
    background-color: #dae0dd;
    font-size: 0.7em;
    font-weight: bolder;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,1px 1px 0 #000;
    border-radius: 10px;
    width: 70px;
    height: 35px;
    cursor: pointer;
}
@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes ani {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.5;
    }
}
.hide {
    display: none;
}
/* modal */
.footer {
    width: 100%;
    height: 7vh;
    background-color: rgb(37, 49, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer > p{
    color: #fff;
    font-weight: bolder;
}
/* footer */
