body {
    overflow-x: hidden;
}
.wrap {
    width: 100vw;
    height: 100vh;
}
.menubar {
    width: 100vw;
    height: 50px;
    background-color: sienna;
}
/* menubar */
.mainimg {
    width: 100vw;
    height: 450px;
    background-color: slategray;
}
/* mainimg */
.slider {
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.space {
    width: 150px;
}
.space2 {
    width: 70px;
}
.rtg {
    width: 250px;
    height: 180px;
    border: 1px black solid;
    cursor: pointer;
}
.slider > .rtg:nth-of-type(3) {
    background-image: url("../images/반응형디자인.jpg");
    background-size: cover;
}
.slider > .rtg:nth-of-type(5) {
    background-image: url("../images/커피샵.jpg");
    background-size: cover;
}
.slider > .rtg:nth-of-type(7) {
    background-image: url("../images/회전레이아웃-01.jpg");
    background-size: cover;
}
.left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 35px solid goldenrod;
    border-bottom: 30px solid transparent;
    cursor: pointer;
}
.right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 35px solid goldenrod;
    border-bottom: 30px solid transparent;
    cursor: pointer;
}
/* slider */
.level {
    width: 100vw;
    height: 470px;
    background-color:#e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.levelwrap {
    width: 55vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #fff; */
    /* border: 1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: black 5px 8px 5px; */
}
.levelwrap > h1{
    color:#fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.levelwrap>p{
    font-weight: bold;
}
.levelwrap p >span:first-child{
    float: left;
}
.levelwrap p > span:last-child{
    float: right;
}
.bar{
    background-color: #fff;
    border: 1px solid black;
    box-shadow: black 5px 3px 3px; 
    margin-bottom: 15px;
}
.fill {
    height: 20px;
    background: linear-gradient(to right, #ffb3af, #ff352a);
    padding: 2px;
    animation: level 3s;
    animation-fill-mode: both;
}
.HTML5>.fill {
    width: 85%;
    animation-delay: 0;
}

.CSS>.fill {
    width: 75%;
    animation-delay: 0.5s;
}
.JavaScript>.fill {
    width: 65%;
    animation-delay: 0.8s;
}
.PHP>.fill {
    width: 65%;
    animation-delay: 0.8s;
}
.Photoshop>.fill{
    width: 80%;
    animation-delay: 1s;
}
.Illustrator>.fill {
    width: 70%;
    animation-delay: 0.2    s;
}
@keyframes level {
    0% {
        width: 0%;
    }
}
/* level */
.sns {
    width: 100vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slategray;
}
.snsrtg {
    width: 220px;
    height: 180px;
    border: 1px black solid;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sns > .snsrtg:nth-of-type(1) {
    background-color: #4b619a;
    cursor: pointer;
}
.sns > .snsrtg:nth-of-type(3) {
    background-color: #fcef00;
    cursor: pointer;
}
.face {
    font-size: 7em;
    color: #fff;
}
.facebook {
    font-size: 2em;
    color: #fff;
}
.kakaotalk {
    font-size: 2em;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.kakaoicon {
    color: #fff;
    font-size: 1em;
}
.talk {

    color: #fcef00;
    font-size: 2em;
    z-index: 0;
}
#talkbubble {
    width: 120px;
    height: 90px;
    background: #47292b;
    position: relative;
    border-radius: 48%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#talkbubble > p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
#talkbubble:before {
    content: "";
    position: absolute;
    transform: rotate(80deg);
    bottom: 1px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 50px solid #47292b;
    border-bottom: 45px solid transparent;
}
/* sns */
.email {
    width: 100vw;
    height: 350px;
    margin: 0 auto;
}

/* email */
.modal{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.close{
    color: #000;
    font-size: 3.5em;
    position: absolute;
    right: 4%;
    cursor: pointer;
    /* animation: ani linear alternate infinite 5s; */
}

.modal_content {
    display: block;
    position: relative;
    width: 100%;
    height: 205%;
    max-width: 600px;
    margin: 150px auto;
    animation: zoom 0.5s;
    background-color: #f2f2f2;
    padding: 0 2%;
}
.modalspace{
    width: 100%;
    height: 55px;
}
.on{
    display: block;
}
.hidescroll{
    overflow-y: hidden;
}
.modal_content>hr{
    width: 100%;
    height: 2px;
    background-color: #000;
}
.modal_content>h2{
    padding-left: 15px;
}
.modal_content>p{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 50px;
}
.modal_content>img{
    width: 100%;
}
@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes ani {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
/* modal */
.footer {
    width: 100vw;
    height: 7vh;
    background-color: sienna;
}
/* footer */
