@charset "utf-8";

a {
    color: #707070;
}
a:visited {
    color: #707070;
}
a:hover {
    color: #40adf7;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}
* {
    font-family: MoeumT R;
}
/* nav부분 */
nav > ul {
    display: flex;
    justify-content: space-around;
}
nav ul li a h3 {
    color: #383838;
    float: left;
    font-family: MoeumT R;
    font-size: 2.5vw;
}
nav ul li a h3 b {
    color: #3e98cc;
}
nav {
    width: 100%;
    height: auto;
    background-color: azure;
}
#menu > ul {
    display: flex;
}
nav #menu ul > li {
    padding: 15px;
}

nav > #menu ul li a {
    font-size: 1vw;
}
button {
    border: none;
    background-color: white;
    cursor: pointer;
    display: none;
}
.button {
    width: 25px;
    height: 1px;
    border: black 2px solid;
    background-color: black;
    margin: 7px 0;
}
/* nav부분 */
/* header부분 */
header {
    width: 100%;
    height: auto;
}
.space {
    width: auto;
    height: 60px;
}
.background {
    width: 100%;
    height: 710px;
    background-color: darkolivegreen;
    background: url("../web/반응형img//header2_2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.background > div > h1 {
    color: #3e295b;
    font-size: 6vw;
    letter-spacing: 20px;
    float: left;
}
.background > div > h3 {
    color: #3e295b;
    font-size: 2vw;
    opacity: 0.8;
    text-align: right;
}
/* header부분 */
/* HPB부분*/
.hpb_section {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
/* .hpb_section >div{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.rtg {
    width: 7em;
    height: 7em;
    border-radius: 20px;
    background-color: #a08cae;
    transform: rotate(45deg);
    margin: 0 auto;
}
.test {
    transform: rotate(-45deg);
    font-size: 60pt;
    padding: 20px 40px;
    color: white;
    font-weight: bolder;
}
.content {
    text-align: center;
    color: #989797;
    font-size: 11pt;
}
.container> ul {
    display: flex;
    justify-content: space-around;
    
}
.cont {
    width: 350px;
}
.rtg {
    margin-top: 20px;
}
.chrtg {
    width: 40px;
    height: 10px;
    background-color: darkgray;
    border-radius: 5px;
    opacity: 0.3;
    cursor: pointer;
}
.change {
    display: none;
}


.change input {
    display: none;
}
.change > ul li {
    padding: 0 25px;
}
label{display: inline-block;}
label:nth-of-type(1){margin-left: 200px;}
.change >input[id="cha1"]:checked ~ label[for="cha1"] .chrtg ,
.change >input[id="cha2"]:checked ~  label[for="cha2"] .chrtg ,
.change >input[id="cha3"]:checked ~ label[for="cha3"] .chrtg  {
    opacity: 1;
}
.hpb_section > input[id="cha1"]:checked ~ .container{
    left:0px;
}
.hpb_section > input[id="cha2"]:checked ~ .container{
    left:-300px;
}
.hpb_section > input[id="cha3"]:checked ~ .container{
    left:-600px;
}

.img_section {
    width: 100%;
    height: 1240px;
    background-color: #cecbdd;
}
#imgwrap{display: flex;margin: 30px 0;justify-content: center;}
.img1{width: 305px;height: 780px;margin: 60px 35px;cursor: pointer;}
.img2{width: 305px;height: 920px;cursor: pointer;}

.imgwrap {
    width: 63%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* .img {
    width: 305px;
    height: 260px;
    background-color: black;
    margin: 3px 10px;
    cursor: pointer;
}
.img:nth-child(1) {
    background: url("../web/반응형img//포트폴리오1.png");
    background-size: contain;
}
.img:nth-child(2) {
    background: url("../web/반응형img//포트폴리오4.png");
    background-size: contain;
    height: 365px;
}
.img:nth-child(3) {
    background: url("../web/반응형img//포트폴리오7.png");
    background-size: contain;
}
.img:nth-child(4) {
    background: url("../web/반응형img//포트폴리오3.jpg");
    background-size: contain;
    height: 220px;
}
.img:nth-child(5) {
    background: url("../web/반응형img//포트폴리오5.png");
    background-size: contain;
    height: 150px;
}
.img:nth-child(6) {
    background: url("../web/반응형img//포트폴리오8.jpg");
    background-size: contain;
    height: 220px;
}
.img:nth-child(7) {
    background: url("../web/반응형img//포트폴리오2.png");
    background-size: contain;
}
.img:nth-child(8) {
    background: url("../web/반응형img//포트폴리오6.png");
    background-size: contain;
    height: 365px;
}
.img:nth-child(9) {
    background: url("../web/반응형img//포트폴리오9.png");
    background-size: contain;
} */

/* IMG부분 */
.subtitle {
    text-align: center;
}
.subtitle > h2 {
    font-size: 4vw;
    letter-spacing: 10px;
    color: #96b5f4;
}
.subtitle > h3 {
    font-size: 1vw;
    color: #989797;
}
.space2 {
    width: auto;
    height: 60px;
}
/* contact부분 */
.contact_section {
    width: 100%;
    height: 440px;
    background-color: #ffffff;
}
.contact_section div {
    text-align: center;
}
.conttext > p {
    color: #989797;
}
.contact_section > div > ul > li {
    display: inline-block;
}
.icon1 {
    border-radius: 15%;
    width: 80px;
    height: 80px;
    background-color: none;
    margin: 0 15px;
    transition: 1s;
    overflow: hidden;
    transform: rotate(45deg);
}
.cover {
    width: 0%;
    height: 100px;
    border-radius: 15%;
    background-color: #a08cae;
    transition: 1s;
}
.icon1 > .cover > i {
    padding: 15px 17px;
    transition: 1s;
}
.icon1:hover .cover {
    background: #a08cae;
    width: 100%;
}
.icon1:hover i {
    color: white;
    transform:rotate(675deg)
}

/* contact부분 */
/* footer부분 */
footer {
    width: 100%;
    height: 85px;
    background-color: #6f6f6f;
    color: #e1e1e1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer부분 */


.modal{
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    display:none;
}
.close{
    color:white;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 50px;
}
.modal-content{
    display: block;
     width: 80%;
     max-width: 600px;
     margin: 150px auto ;
     animation: zoom 0.5s;}

@keyframes zoom{
    0%{transform: scale(0)} 100%{transform: scale(1);}
}


/* 모바일 */
@media all and (min-width: 320px) and (max-width: 767px) {
    header {
        width: 100%;
        height: 400px;
    }

    .img {
        display: none;
    }
    .img:nth-child(1) {
        display: block;
    }
    .img:nth-child(4) {
        display: block;
    }
    .img:nth-child(7) {
        display: block;
    }
    .rtg {
        width: 5.5em;
        height: 5.5em;
    }
    .test {
        font-size: 55pt;
        padding: 10px 30px;
    }
    /* .hpb_section ul{flex-direction: column;align-items: center;} */
    .item {
        width: 900px;
        height: auto;
        background-color: #ffffff;
    }
    .item > ul {
        align-items: center;
    }
    .subtitle > h3 {
        
        display: none;
    }
    .conttext {
        display: none;
    }

    nav {
        height: 60px;
    }

    /* nav>ul>li:first-child{position: absolute;left:45px;top:25px} */
    nav ul {
        flex-direction: column;
    }
    #menu {
        display: none;
    }
    .change {
        display: block;
    }

    button {
        display: block;
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .img1{display: none;}
}

/* 모바일 */
/* PC */
@media all and (max-width: 1024px) {
}
/* PC */
/* 태블릿 */
/* @media all and (min-width: 768px) and (max-width: 1023px) {
    .nav{display: flex;justify-content: space-between;}
    button{
        display: none;
    } */
/* 태블릿 */
